.item-projetos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #1D1D1D;
    border-radius: 5px;
    width: 25em;
    min-height: 28em;
    padding: 30px 28px 30px 28px;
    transition: all linear 0.4s;
}
.item-projetos:hover{
    box-shadow: 1px 1px 20px #05DBF2;
}

.item-projetos:hover .principal{
    color: #05DBF2;
}

.icones{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.icone{
    height: 3em;
}

.text-area > *{
    margin: 2em 0 2em 0;
}


.principal{
    font-size: 20px;
    font-weight: 500;
}

.descricao{
    text-align: justify;
}

.tecnologias{
    color: #757474;
}

@media (max-width:500px)  {
    .item-projetos {
        width: 100%;
    }
}


